/* ffont-family: 'Amatic SC', cursive;
font-family: 'Prata', serif;
font-family: 'Open Sans', sans-serif; */

/* Amatic SC: */
html {
    font-size: 1.5em;
    min-height: 100%;
}

body {
  background-color: #defeef;
  font-family: 'Amatic SC',cursive;
  font-weight: 600;
  line-height: 1.45;
  background-color: #defeef;
  background: -webkit-linear-gradient(
    45deg,
     #defeef, #0cbaba
    );
  background: linear-gradient(
    45deg,
     #defeef, #0cbaba
    );
  background-image: linear-gradient(
    45deg,   
    #defeef, #0CBABA
    );
    padding: 60px;
}

/* color {
    color1: #01BAEF;
    color2: #0CBABA;
    color3: #EAEBED;
    color4: #6290C3;
    color5: #C2E7DA;
    color6: #F34213;
    color7: #defeef;
    color8: #F7B32B;
    color9: #92BFB1;
    color10: #8ACDEA;
} */

p {margin-bottom: 1.3em;}

h1, h2, h3, h4, h5 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  color: #3B3B3B;
}

h1 {
  margin-top: 2rem;
  font-size: 5.998em;
  color: #3B3B3B;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.727em;
}

h3 {
    font-size: 1.999em;
}

h4 {
    /* font-size: 1.414em; */
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
}

h5 {
    font-size: 0.6rem;
    font-family: 'Open Sans', sans-serif;
}

small, .font_small {font-size: 0.707em;}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

@media (min-width: 500px) {
    
}

a {
    color: inherit;
}